@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --text-color: #DBE4EF;
    --card-front-color: #427cc4;
    --card-back-color: #00F4BF;
    --tipo-fonte:"Inria Sans";
}

body{
    background: url(img/bg-desktop.webp);
    font-family: var(--tipo-fonte);
}

footer{
    display:flex; /*area do rodapé flexível*/
    align-items: center; /*alinhamento de itens
                            ao centro*/
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%; /*largura ocupando 100% do rodapé*/
    height: 3rem; /*altura 3x a medida do root*/
    margin-top: 2rem; /*altura do topo da margem
                        externa do rodapé em 2 rem*/

footer p{
    text-align: center;
    font-size: 0.6em;;
    height:2rem;
    margin-top: 0.5rem;
}

#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: rgb(24, 24, 211);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}
.cartao__conteudo{
    text-align: center;
    height: 100%;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}
.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}


.cartão__conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position:absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}